<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated microserviceMetamodel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="microserviceMetamodell.presentation.MicroserviceMetamodellModelWizardID"
            name="%_UI_MicroserviceMetamodellModelWizard_label"
            class="microserviceMetamodell.presentation.MicroserviceMetamodellModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MicroserviceMetamodellModelFile.gif">
         <description>%_UI_MicroserviceMetamodellModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated microserviceMetamodel -->
      <editor
            id="microserviceMetamodell.presentation.MicroserviceMetamodellEditorID"
            name="%_UI_MicroserviceMetamodellEditor_label"
            icon="icons/full/obj16/MicroserviceMetamodellModelFile.gif"
            extensions="microservicemetamodell"
            class="microserviceMetamodell.presentation.MicroserviceMetamodellEditor"
            contributorClass="microserviceMetamodell.presentation.MicroserviceMetamodellActionBarContributor">
      </editor>
   </extension>

</plugin>
