<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated microserviceMetamodel -->
      <package
            uri="http://microservice.com/microserviceMetamodell"
            class="microserviceMetamodell.MicroserviceMetamodellPackage"
            genModel="model/microserviceMetamodel.genmodel"/>
   </extension>

</plugin>
